
div( data-role="panel" data-title-caption="RPC INFO" )
    div.w-100
        table.table.subcompact.cell-border.mt-4

            tr
                td Title
                td.text-right.value
                    span#rpc-title Unknown
            tr
                td Description
                td.text-right.value
                    span#rpc-description Unknown

            tr
                td Contact Name
                td.text-right.value
                    span#contact-name Unknown

            tr
                td Contact Url
                td.text-right.value
                    span#contact-url Unknown

            tr
                td Contact Email
                td.text-right.value
                    span#contact-email Unknown

