
div( data-role="panel" data-title-caption="TOTALS" )
    div.w-100
        table.table.subcompact.cell-border.mt-4
            tr
                td Events
                td.text-right.value
                    span#total_events 0
            tr
                td Signature Errors
                td.text-right.value
                    span#total_signature_errors 0
            tr
                td Transactions Certificates
                td.text-right.value
                    span#total_transaction_certificates 0
            tr
                td Transactions Effects
                td.text-right.value
                    span#total_transaction_effects 0
            tr
                td Transactions Orders
                td.text-right.value
                    span#total_transaction_orders 0
            tr
                td Certificates Created
                td.text-right.value
                    span#total_tx_certificates_created 0
