main.container-fluid
    div#error-log
        div#error-log-api
        div#error-log-metric

    div
        div.row
            div.cell-lg-3.cell-md-6
                div.border.bd-system.p-3
                    div.reduce-4.text-bold NODE TYPE
                    div.h3.text-light.m-0.value#node-type Unknown
                    div#node-type-icon
                        span.mif-question

            div.cell-lg-3.cell-md-6
                div.border.bd-system.p-3
                    div.reduce-4.text-bold SUI JSON-RPC VERSION
                    div.h3.text-light.m-0.value#rpc-version Unknown
                    div#version-icon
                        span.mif-versions

            div.cell-lg-3.cell-md-6
                div.border.bd-system.p-3
                    div.reduce-4.text-bold RPC TYPE
                    div.h3.text-light.m-0.value#rpc-type Unknown
                    div#rpc-type-icon
                        span.mif-developer_board

            div.cell-lg-3.cell-md-6
                div.border.bd-system.p-3
                    div.reduce-4.text-bold NETWORK
                    div.h3.text-light.m-0.value#network DEVNET
                    div#network-icon
                        span.mif-database

    div.row
        div.cell-md-4
            div.text-leader2 Ports test
            div.row.text-center.text-small.reduce-3.ports-wrapper

        div.cell-md-8
            div.text-leader2 Node Status
            div.row.text-center.text-small.reduce-3
                div.cell-sm-4.cell-md-one-third
                    div.border.bd-default.p-2
                        div.small-box-title API:
                        div.small-box-value#api-status ---

                div.cell-sm-4.cell-md-one-third
                    div.border.bd-default.p-2
                        div.small-box-title METRIC:
                        div.small-box-value#metric-status ---

                div.cell-sm-4.cell-md-one-third
                    div.border.bd-default.p-2
                        div.small-box-title SYNC:
                        div.small-box-value#sync-status NOT AVAILABLE

    div.row
        //div.cell-md-6.cell-lg-3
        //    include ./blocks/system
        div.cell-md-6.cell-lg-4
            include ./blocks/sync


        div.cell-md-6.cell-lg-4
            include ./blocks/rout

        div.cell-md-6.cell-lg-4
            include ./blocks/rpc-discover

        div.cell-md-6.cell-lg-4
            include ./blocks/target

        div.cell-md-6.cell-lg-4
            include ./blocks/rpc-info

        div.cell-md-6.cell-lg-4
            include ./blocks/totals






